@using courses.ViewModels;
@model IEnumerable<AppUser>;

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Имя</th>
            <th scope="col">Фамилия</th>
            <th scope="col">Отчество</th>
            <th scope="col">Email</th>
            <th scope="col">Номер телефона</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th>@item.Id</th>
                <td>@item.Name</td>
                <td>@item.Surname</td>
                <td>@item.Patronymic</td>
                <td>@item.Email</td>
                <td>@item.PhoneNumber</td>
                <td><a asp-controller="Administration" asp-action="EditUser" asp-route-id="@item.Id">Редактировать</a></td>
                <td><a asp-controller="Administration" asp-action="DeleteUser" asp-route-id="@item.Id">Удалить</a></td>
            </tr>
        }
    </tbody>
</table>